@model TitanTracker.Models.ViewModels.AssignDeveloperViewModel
   

<h4>Ticket Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignDeveloper" method="post">
            <input asp-for="Ticket.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>@Model.Ticket.Title</p>
            <p>@Model.Ticket.Description</p>

            <div class="form-group">
                <label class="control-label">Select Project Manager</label>
                <select asp-for="DeveloperId" class="form-control" asp-items="@Model.Developers">
                    <option></option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllTickets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
